:is(.user-offline, .page-offline, .message) #splash-screen {
    display: none;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#splash-screen span, .material-symbols.splash {
  font-size: 150px;
    text-align: center;
    width: 100%;
}

#splash-screen span, .material-symbols.loading {
    animation: pulse 2.5s ease-in-out infinite alternate;
}

#splash-screen h2 {
    font-size: 40px;
    text-align: center;
}

#splash-screen p {
    font-size: 20px;
    text-align: center;
}

#content-progress {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	width: 100%;
	border-radius: 0;
}