body {
	font-family: var(--font-family);
	-ms-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.cet-container {
	display: flex;
    align-items: center;
}

:root {
	--font-family: 'Noto Sans';
}